<html ng-app="app" >

    <head>            
        <title>Team Maker</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">              
    </head>

    <body>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular.min.js"></script>
        <script src="pickleball.js"></script>
        <br/>
        <br/>
        <div ng-controller="pickleball as vm" class="container">
            <h4>Players:</h4>
            <ul>
                <li ng-repeat="player in vm.players">
                    {{player}}                  
                </li>                
            </ul>
            <button type="button" ng-click="vm.generate()" class="btn btn-primary btn-sm">
                Generate Matchup
            </button>
            <br/>
            <br/>
            
            <h5>Match 1:</h5>
            {{vm.shuffledPlayers[0]}}/{{vm.shuffledPlayers[1]}}
            vs
            {{vm.shuffledPlayers[2]}}/{{vm.shuffledPlayers[3]}}
            <h5>Match 2:</h5>
            {{vm.shuffledPlayers[4]}}/{{vm.shuffledPlayers[5]}}
            vs
            {{vm.shuffledPlayers[6]}}/{{vm.shuffledPlayers[7]}}
        </div>
    </body>
</html>
